@import url("https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header styles*/
.banner-container {
  background-image: linear-gradient(180deg, #070211, #07021100 100%),
    url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1320px;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 16px;
}
.banner-content {
  font-family: Merriweather;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.banner-content p {
  font-size: 32px;
  font-weight: 400;
}
.banner-content h1 {
  font-size: 72px;
  font-weight: 900;
}

/*65% section styles*/
.secend-container {
  max-width: 802.9px;
  /* height: 600px; */
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secend-content {
  font-family: Inter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secend-content h1 {
  color: rgb(255, 0, 0);
  font-size: 88px;
  font-weight: 700;
}
.secend-content p {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
}
.secend-content h3 {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
}

.secend-container img {
  margin-top: 48px;
  border: 2px dashed gray;
  /*width: 802.9px;
    height: 500px;*/
}

/*third section styles*/
.third-container {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../images/Vectorrr.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 90px;
}

.third-left {
  width: 50%;
  /* height: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 100px;
}

.third-left h1 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 900;
  font-family: Merriweather;
}
.third-left p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;

  width: 700px;
}
.third-left button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin-top: 48px;
  border: none;
  background: none;
  margin-left: 50px;
}
.third-left button:hover {
  color: rgba(202, 184, 20, 0.822);
}
.third-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 600px; */
}
/*address style*/

.add-container {
  max-width: 1320px;
  min-height: 482px;
  margin: 0 auto;
  border-radius: 16px;
  background: linear-gradient(180deg, #ff00001a, #ff000000 100%);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-container .info {
  font-family: Inter;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-container .info h2 {
  margin-bottom: 15px;
}

.add-container button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  width: 167px;
  height: 56px;
  padding: 10px 20px;
  border-radius: 8px;
  background: #ff0000;
  border: none;
  margin-top: 40px;
}
.add-container button:hover {
  background: #bb1818;
}
/*coming soon*/
.coming-soon-container{
  width: 1320px;
  height: 463px;
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
}
.coming-left{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.coming-left h5{
  width: 207px;
  height: 29px;
  color: #ff0000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  
}
.coming-left h3{
  width: 328px;
  height: 60px;
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
  
}
.coming-left p{
  width: 393px;
  height: 128px;
  color: #07021199;
  font-family: Inter;
  margin-top: 22px;
  font-size: 20px;
  font-weight: 400;
}
.coming-mid{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
}
.coming-mid img{
  border: 3px dashed gray;
}

.coming-right{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 112px;
  
}
.coming-right-date{
  width: 276px;
  height: 170px;
}
.coming-right-date h3{
  width: 126px;
  height: 58px;
  color: #ff0000;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.coming-right-date p{
  color: #07021199;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 276px;
  height: 96px;
  margin-top: 16px;
  margin-bottom: 40px;
}
.coming-right-pic{
  width: 140px;
height: 132.79px;
}
.coming-right-pic img{
  border: 2px dashed gray;
}

/*holiday*/ /*
.holiday-container {
  width: 1320px;
 height: 986.07px;
  margin: 0 auto;
  border: 10px solid rgb(43, 255, 0);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.holiday-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1068px;
  height: 260px;
  margin: 0 auto;
}
.holiday-text h5 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  width: 263px;
  height: 29px;
}

.holiday-text h1 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    width: 677px;
    height: 91px;
}
.holiday-text p {
    width: 1068px;
    height: 96px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
.solid-color{
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 80%;
    
}
.giftbox{

    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

*/

/*portfolio/*/
.portfolio-container {
  width: 1320px;
  height: 1163px;
  margin: 0 auto;
  margin-top: 120px;
}
.portfolio-content h5 {
  width: 192px;
  height: 29px;
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.portfolio-content h3 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  width: 566px;
  height: 60px;
}
.portfolio-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 896px;
  height: 64px;
  margin-bottom: 50px;
}

.port-item{
    border-radius: 16px;
    width: 424px;
    height: 450px;
    
}
.port-item img{
    height: 100%;
    width: 100%;
}
.port-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}

/*footer */
.footer-container{
    border: 3px red solid;
    width: 1320px;
    height: 500px;
    background: #070211;
    margin: 0 auto;
    margin-top: 60px;
}
.contact{
    display: flex;
    color: white;
}
.footer-first-sec{
    color: white;
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 40px;
    
}
hr{
    width: 90%;
    margin: 0 auto;
   margin-top: 50px;
}
.social-icons{
    width: 400px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.footer-last-sec{
    color: white;
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 50px;
}